page-add-offer {
    font-family: "Hacen Tunisia Lt" !important;
    .masters {
        background-color: hsl(0, 0%, 96%);;
        // remove scroll 
        text-overflow: initial;
    }
    
    font-family: "Hacen Tunisia Lt" !important;
    /* drop shadow only bottom css
    /*==================================================
    *https://codepen.io/SMLMRKHLMS/pen/qxtDw
     * https://paulund.co.uk/learn-how-to-create-different-css-box-shadow-effects
     * https://www.front-end-developer.com/perspective-css3-shadow-effect/
     * ===============================================*/
    .effect2 {
        position: relative;
    }
    .effect2:before,
    .effect2:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        box-shadow: 0 15px 10px #777;
        transform: rotate(-3deg);
    }
    .effect2:after {
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
    .box {
        width: 96%;
        height: 200px auto;
        background: #FFF;
        margin: 40px auto;
        border: 1px solid #d9d9d9;
        /////////////
    }
    // https://forum.ionicframework.com/t/ion-input-green-line-when-type-number/69750/2
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent;
        box-shadow: inset 0 -1px 0 0 #dedede;
    }
    .item-md.item-input.input-has-focus .item-inner {
        box-shadow: none;
    }
    ///////////////////////////////////
    .container {
        position: relative;
        width: 100%;
        max-width: 400px;
      }
      
      .container img {   
        width: 50%;
        height: auto;
      }
      
      .container .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: transparent;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
      }
      
      .container .btn:hover {
        background-color: black;
      }
      //////////////////////////////////

}
