page-schedule {
    // ion-content {
    //     background-color: #ffffff;
    //     margin: 0;
    //     font-family: Arial;
    //     zoom: 100%;
    //   }
    font-family: "Hacen Tunisia Lt" !important;
    .masters {
        background-color: hsl(0, 0%, 96%);;
        // remove scroll 
        text-overflow: initial;
    }   
}
